.lv-1 {
    border: 2px solid purple;
    padding: 20px;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
}

.lv-2 {
    display: block;
    padding: 10px;
}

button {
    margin: 3px;
    border: 2px solid rgb(80, 0, 80) ;
    border-radius: 5px;
}

input {
    border: 1px solid rgb(80, 0, 80);
    border-radius: 5px;
}